.todo {
  width: 500px;
  padding: 40px 20px;
  border-radius: 20px;
  border: 1px solid #fff;
  background-color: wheat;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-item {
  font-weight: 800;
  font-size: 15px;
}

.wrapper-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}
.label-title::after {
  content: " :";
}
.wrapper-input input {
  width: 300px;
  height: 30px;
  margin: 0 10px;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: #fff;
  box-sizing: border-box;
  padding: 0 10px;
  font-size: 15px;
  font-weight: 800;
}
.label-desk::after {
  content: " :";
}
.wrapper-input textarea {
  width: 300px;
  height: 160px;
  margin: 0 10px;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: #fff;
  box-sizing: border-box;
  padding: 0 10px;
  font-size: 15px;
  font-weight: 800;
  resize: none;
  /* scrolbal transparna */
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.wrapper-input textarea::-webkit-scrollbar {
  width: 5px;
  height: 12px;
}

.wrapper-input textarea::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.wrapper-input textarea::-webkit-scrollbar-track {
  background: transparent;
}
.btn-form {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: #2a47ee;
  box-sizing: border-box;
  padding: 0 10px;
  font-size: 15px;
  font-weight: 800;
  text-transform: capitalize;
  cursor: pointer;
}
.btn-form:hover {
  background-color: #2a47ee;
  color: #fff;
  border: 1px solid #fff;
}
.btn-cancel {
  width: 100px;
  height: 30px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  background-color: #ff0000;
  box-sizing: border-box;
  padding: 0 10px;
  font-size: 15px;
  font-weight: 800;
  text-transform: capitalize;
  cursor: pointer;
}
.btn-cancel:hover {
  background-color: #ff0000;
  color: #fff;
  border: 1px solid #fff;
}
@media screen and (max-width: 768px) {
  .todo {
    width: 100%;
    margin: 10px 0;
  }
  .wrapper-input {
    flex-direction: column;
  }
  .wrapper-input input {
    width: 100%;
  }
  .wrapper-input textarea {
    width: 100%;
  }
  .label-desk::after {
    content: "";
  }
}
