.todo {
  width: 500px;
  padding: 40px 20px;
  border-radius: 20px;
  border: 1px solid #fff;
  background-color: wheat;
  box-sizing: border-box;
}

.form-item {
  font-weight: 800;
  font-size: 24;
}
.form-item textarea {
  width: 100%;
  height: 250px;
  font-size: 15px;
  font-weight: 400;
  resize: none;
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
.ant-form-item-label > label.ant-form-item-required::before {
  visibility: hidden;
}

.form-item textarea::-webkit-scrollbar {
  width: 5px;
  height: 12px;

  /* background: transparent; */
}
.form-item textarea::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.form-item textarea::-webkit-scrollbar-track {
  background: transparent;
}
